.row {
  margin: 2vh;
  padding-top: 2vh;

  .item {
    line-height: 20px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    margin:0 1vh 3vh;
  }

}
